# Dependencies
**/node_modules/
package-lock.json
dist/
.env*
!.env.example

# Sensitive Data / Service Accounts
service-account.json
firebase-key.json
*.pem
**/*.json.local

# Backend Specific
backend/uploads/
backend/service-account.json

# IDE / Build
.vscode/
.idea/
.DS_Store
frontend/dist/
